/*   Author: Harmony Betancourt		Date: 2013/11/07  */
 
 
body {
	background-color: #5c5c5c;
	color: rgb(46,16,16);
	font-family: 'News Cycle', sans-serif;
	}
#content {
	background-color: #F2E4BC;
	border-radius: 20px; 
		/* More Browsers */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 0 15px  rgb(255, 116, 16); 
		/* More Browsers */
	-webkit-box-shadow: 0 0 15px  rgb(255, 116, 16);
	-moz-box-shadow: 0 0 15px  rgb(255, 116, 16); 
	padding: 20px;
	margin: 10px auto;
	width: 90%;
	}	
p {
	text-indent: 50px;
	}
a:link {
	color: rgb(237,90,38);
	font-variant: small-caps;
	text-decoration: none;
	}
a:hover {
		/* Fallback */
	background-color:  rgb(255, 116, 16);	
	background-color:  rgba(255, 116, 16, 0.7);
	color: #fff;
	padding: 3px;
	border-radius: 5px;
		/* More Browsers */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	}
a:visited {
	color: rgb(240,72,12);
	}
a:active {
	background-color: #fff940;
	border-radius: 5px;
		/* More Browsers */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: rgb(236,146,0);
	padding: 3px;
	}	
h1 {
	background-color: #C9DFF2;
	border-radius: 20px; 
		/* More Browsers */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: inset 0 0 15px  rgb(255, 116, 16); 
		/* More Browsers */
	-webkit-box-shadow: inset 0 0 15px  rgb(255, 116, 16);
	-moz-box-shadow: inset 0 0 15px  rgb(255, 116, 16); 
		/*Fallback for if hsl isn't browser friendly */
	color: rgb(16, 84, 22);
	color: hsl(125.3, 68%, 19.6%);
	font: bold 48px 'Nova Oval', cursive; 
	letter-spacing: 5px;
	margin: 10px auto;
	padding: 5px;
	text-align: center;
	text-shadow: 2px 2px chocolate;
	text-transform: capitalize;
	word-spacing: 20px;
	width: 950px;
	
	}
h2 {
		/*Fallback if hsl isn't browser friendly */
	background-color: #8BA884;
	background-color: hsla(108.3, 17.1%, 58.8%, 0.55);
	border-radius: 20px;
			/* More Browsers */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: inset 0 0 15px  rgb(255, 116, 16); 
		/* More Browsers */
	-webkit-box-shadow: inset 0 0 15px  rgb(255, 116, 16);
	-moz-box-shadow: inset 0 0 15px  rgb(255, 116, 16); 
		/*Fallback for if hsl isn't browser friendly */
	color: rgb(16, 0, 84);
	color: hsl(251.4, 100%, 16.5%);
	font-family: 'Nova Oval', cursive;
	margin: auto; 
	padding: 3px;
	text-align: center;
	text-transform: capitalize;
	width: 450px;
	text-shadow: 1px 1px darkorange;
	


	}
ol {
		/* Back up in case browser doesn't support rgba */
	background-color: #C9DFF2;
		/* Colors with transparency for background */
	background-color: rgba(201, 223, 242, 0.20);
	border: 2px dotted rgba(255, 116, 16, 0.7);
	border-radius: 10px;
		/* More browsers */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: rgb(0, 48, 16);
	font:bold small-caps 20px/30px 'Poiret One';
	margin: auto auto 50px auto;
	width: 80%;
	
	}
ol.sublist {
	border: none;
	background-color: transparent;
	list-style-type: lower-roman;
	margin: auto;
	}
a#refSource {
	font-size: 2em;
	margin-left: 50%;
	}
span#sidenote {
		/* Match bg color to hide until revealed by hover */
	color: #F2E4BC; 
	font: oblique 16px 'News Cycle';
	margin-left: 5px;
	}
ol#tableOfContents {
	border: none;
	border-radius: 10px;
		/* More browsers */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: inset 0 0 15px  rgb(255, 116, 16); 
		/* More Browsers */
	-webkit-box-shadow: inset 0 0 15px  rgb(255, 116, 16);
	-moz-box-shadow: inset 0 0 15px  rgb(255, 116, 16); 
	margin: 10px auto 50px auto;
	width: 310px;
	
	}


	